### Vaishna Subbaiah
#### 11/26/25
###### Final Project - Milestone #2

#### load the excel file and look at the first 20 rows

In [1]:
import pandas as pd

df_raw = pd.read_excel("SeriesReport-20251125214831_41ed41.xlsx")
df_raw.head(20)

C:\Users\Vaish\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Import/Export Price Indexes,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Original Data Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Series Id:,EIUIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Series Title:,"Monthly import price index for BEA End Use, Al...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Index Type:,BEA End Use Import Price Indexes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Item:,All commodities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Base Period:,2000=100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Years:,2015 to 2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
10,2015,126,125.5,125.3,125.1,126.5,126.6,125.4,123.2,121.9,121.5,120.8,119.3
11,2016,117.8,117.2,117.7,118.5,119.9,120.7,120.8,120.5,120.6,121.2,121.1,121.6
12,2017,122.3,122.7,122.5,122.8,122.7,122.4,122.2,122.9,123.9,124.1,125.3,125.5
13,2018,126.5,126.8,126.5,127.1,128.2,128.2,128.1,127.6,127.7,128.3,126.2,124.4
14,2019,124.6,125.9,126.6,126.8,127,125.6,125.6,124.9,125,124.5,124.7,125
15,2020,125.2,124.3,121.3,118.2,119,120.6,122.1,123.2,123.4,123.3,123.4,124.6
16,2021,126.5,128,129.9,131.1,132.8,134.2,134.6,134.3,134.9,136.9,137.9,137.4
17,2022,140.1,142.6,146.8,147.5,148.2,148.5,146.4,144.6,143.1,142.7,141.6,141.8
18,2023,141.3,141,139.9,140.3,139.7,139.4,139.4,140.3,141,140.1,139.4,138.4
19,2024,139.4,139.7,140.5,141.7,141.5,141.6,141.8,141.4,140.9,141.1,141.3,141.4

#### load the excel file starting at row 11, then rearrange it so months are in one column

In [2]:
df = pd.read_excel(
    "SeriesReport-20251125214831_41ed41.xlsx",
    header=10   #change this number after checking df_raw.head()
)
df.head()


df = pd.read_excel("SeriesReport-20251125214831_41ed41.xlsx", header=10)

df_long = df.melt(id_vars=["Year"],
                  var_name="Month",
                  value_name="Value")

C:\Users\Vaish\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Vaish\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

#### .head() shows the first few rows of the data so you can see how it starts

In [3]:
df_long.head()

   Year Month  Value
0  2015   Jan  126.0
1  2016   Jan  117.8
2  2017   Jan  122.3
3  2018   Jan  126.5
4  2019   Jan  124.6

####  .describe() shows basic statistics like the average, minimum, and maximum for the numeric columns

In [4]:
df_long.describe()

              Year       Value
count   132.000000  128.000000
mean   2020.000000  130.785937
std       3.174324    8.864623
min    2015.000000  117.200000
25%    2017.000000  123.375000
50%    2020.000000  126.800000
75%    2023.000000  140.350000
max    2025.000000  148.500000

#### .info() gives a quick summary of the whole dataset, including missing values

In [5]:
df_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    132 non-null    int64
 1   Month   132 non-null    object
 2   Value   128 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.2+ KB

#### .sample() gives a random row from the dataset to get a quick look at different values

In [6]:
df_long.sample()

    Year Month  Value
44  2015   May  126.5

#### .shape tells you how many rows and columns the dataset has

In [7]:
df_long.shape

(132, 3)

#### .columns lists all the column names in the dataset

In [8]:
df_long.columns

Index(['Year', 'Month', 'Value'], dtype='object')

#### .dtypes shows what type of data each column contains (numbers, text, etc.)

In [9]:
df_long.dtypes

Year       int64
Month     object
Value    float64
dtype: object

#### .tail() shows the last few rows of the data to see how it ends

In [10]:
df_long.tail()

     Year Month  Value
127  2021   Dec  137.4
128  2022   Dec  141.8
129  2023   Dec  138.4
130  2024   Dec  141.4
131  2025   Dec    NaN

In [12]:
df_long.to_csv("import_all_commodities.csv", index=False)